# IMPORTANT: Ne jamais commiter ce fichier sur Git!
# Copie ce fichier et renomme-le en .env

# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False

# Database (laisser vide pour utiliser SQLite en local)
DATABASE_URL=

# Allowed Hosts (séparés par des virgules)
ALLOWED_HOSTS=localhost,127.0.0.1
